<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, required: true %>
  </div>

  <div class="field">
    <%= f.label :alignment %><br />
    <!-- <%= f.text_field :alignment, required: true %> -->
    <select name="user[alignment]" id="user_alignment" required>
      <option value="Lawful Good">Lawful Good</option>
      <option value="Nuetral Good">Neutral Good</option>
      <option value="Chaotic Good">Chaotic Good</option>
      <option value="Lawful Neutral">Lawful Neutral</option>
      <option value="Neutral">Neutral</option>
      <option value="Chaotic Neutral">Chaotic Neutral</option>
      <option value="Lawful Evil">Lawful Evil</option>
      <option value="Neutral Evil">Neutral Evil</option>
      <option value="Chaotic Evil">Chaotic Evil</option>
    </select>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, required: true %>
  </div>

  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>

  <div class="field">
    <%= f.check_box :dm %>
    <%= f.label :dm, "Would you class yourself a Dungeon Master" %><br />
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.check_box :terms, required: true %>
    <%= f.label :terms, "I agree to the terms and conditions", required: true %><br />
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
