<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>Party Size: <%= @users.length %>/<%= @group.party_size %></p>
<p>Game Edition: <%= @group.game_edition %></p>
<p>Campaign Type: <%= @group.campaign_type %></p>

<div>
  <strong>Game Information:</strong><br>
  <%= @group.information %>
  <% if !@user.nil? && (@user.admin? || @user.dm?) %>
    <%= link_to 'Edit Game Information', edit_group_path(@group), method: 'get' %>
  <% end %>
</div>