<div class="game-schedule">
  <div class="schedular">
    <% if !@user.nil? && @user.admin? %>
    <%= form_with url: group_games_path(@group), method: 'post' do |f| %>
    <h3>Schedule a Battle</h3>
    <!-- <%= f.label :name %> -->
    <%= f.text_field :name, required: true, placeholder: 'Battle Name', id: 'name' %>

    <div class="date-time">
      <!-- <%= f.label :date %> -->
      <%= f.date_field :date, required: true, id: 'date' %>
      <!-- <%= f.label :time %> -->
      <%= f.time_field :time, required: true, id: 'time' %>
    </div>
    <!-- <%= f.label :location %><br> -->
    <%= f.text_field :location, required: true, placeholder: 'Location' %>

    <%= f.submit "Schedule game" %>
    <% end %>
    <% end %>
  </div>
  <div class="games">
    <h3>Scheduled Games</h3>
    <% @games.each do |game| %>
    <div class="game">
      <p><%= game.name %></p>
      <p>Date: <%= game.date %></p>
      <p>Time: <%= game.time.strftime("%k:%M") %></p>
      <p>Location: <%= game.location %></p>
      <% check_user = game.game_responds.find { |player| player.user.id == current_user.id } %>
      <% if check_user %>
      <p>
        <!-- <%= link_to 'Going', group_game_game_respond_path(game_id: game.id, group_id: @group.id), method: :delete %>Going -->
        <a href="/groups/<%= @group.id %>/games/<%= game.id %>/game_responds/<%= @user.id %>" rel="nofollow" data-method="delete"><i class="far fa-thumbs-down"></i> Not Attending</a>
      </p>
      <% else %>
      <p>
        <!-- <%= link_to 'Going', group_game_game_responds_path(@group.id, game.id), method: :post %>  -->
        <a href="/groups/<%= @group.id %>/games/<%= game.id %>/game_responds" rel="nofollow" data-method="post"><i class="far fa-thumbs-up"></i> Attending</a>
        
      </p>
      <% end %>
      <p><%= link_to "#{game.game_responds.count} Going",  group_game_game_responds_path(@group.id, game.id) %> Not Going</p>
      <% if !game.complete? && @user.admin? %>
      <p><%= link_to 'End Session', group_game_path(@group.id, game.id), method: :patch %></p>
      <% end %>
      <h3>Attending</h3>
      <div class="attending">
        <% game.game_responds.each do |response| %>
        <p>&nbsp;<a href="/users/<%= response.user_id %>"><%= response.user.username %> </a><span>-</span></p>

        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>