<% if !@user.nil? && @user.admin? %>
  <%= form_with url: group_games_path(@group), method: 'post' do |f| %>
    <h3>Schedule a game</h3>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :date%><br>
    <%= f.date_field :date%>
    <br>
    <%= f.label :time%><br>
    <%= f.time_field :time%><br><br>
    <%= f.submit "Schedule game" %>
  <% end %>
<% end %>

<% @games.each do |game| %>
  <br>
  <%= game.name %>
  <br>
  <%= game.date %>
  <br>
  <%= game.time.strftime("%k:%M") %>
<% end %>