<% if !@user.nil? && @user.admin? %>
  <%= form_with url: group_games_path(@group), method: 'post' do |f| %>
    <h3>Schedule a game</h3>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <br>
    <%= f.label :date %><br>
    <%= f.date_field :date, required: true %>
    <br>
    <%= f.label :time %><br>
    <%= f.time_field :time, required: true %><br><br>
    <%= f.submit "Schedule game" %>
  <% end %>
<% end %>

<% @games.each do |game| %>
  <br>
  <%= game.name %>
  <br>
  <%= game.date %>
  <br>
  <%= game.time.strftime("%k:%M") %>
  <br>
  <% check_user = game.game_responds.find { |player| player.user.id == current_user.id } %>
  <% if check_user %>
    <strong><%= link_to 'Going', group_game_game_respond_path(game_id: game.id, group_id: @group.id), method: :delete %></strong>
  <% else %>
    <%= link_to 'Going', group_game_game_responds_path(@group.id, game.id), method: :post %>
  <% end %>
  <%= link_to "#{game.game_responds.count} Going",  group_game_game_responds_path(@group.id, game.id) %> <br>

<% end %>