<h1>Editing Group</h1>

<%= form_with model: @group, url: group_path(@group), method: 'patch' do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :information %>
    <%= form.text_field :information, required: true %>
  </div>

  <div>
    <%= form.label :party_size %>
    <%= form.select :party_size, [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12] %>
  </div>

   <div>
    <%= form.label :party_level %>
    <%= form.select :party_level, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] %>
  </div>

  <div>
    <%= form.label :game_edition %>
    <%= form.select :game_edition, ['D&D', 'AD&D', '2e', '3e', '3.5', '4e', '5e'] %>
  </div>  

  <div>
    <%= form.label :campaign_type %>
    <%= form.select :campaign_type, ['Homebrew', 'Module'] %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>

<%= link_to @group.name, @group %>
