<div class="taverns-land-page">

  <div class="page-banner">
    <h1 class="banner-heading">Tavern Keepers</h1>
  </div>
  <div class="taverns-center-container">
    <%= render 'group_info' %>

    <div class="user-game-info">
      <%= render 'user_list' %>
      <%= render 'schedule' %>
    </div>
    

    <%= link_to 'Back', groups_path %>

    <%= render 'admin_functions' %>

    <%= render 'requests' %>

    <%= render 'chat' %>

  </div>
</div>