<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>Party Size: <%= @users.length %>/<%= @group.party_size %></p>

<div>
  <strong>Game Information:</strong><br>
  <%= @group.information %>
  <% if !@user.nil? && (@user.admin? || @user.dm?) %>
    <%= link_to 'Edit Game Information', edit_group_path(@group), method: 'get' %>
  <% end %>
</div>

<br>

<p><%= render 'user_list' %></p>

</p>

<br>

<%= link_to 'Back', groups_path %>

<br>

<%= render 'admin_functions' %>

<br>

<%= render 'requests' %>  

<br>

<%= render 'chat' %>

<br>

<%= render 'schedule' %>
