<p id="notice"><%= notice %></p>

<%= render 'group_info' %>

<br>

<p><%= render 'user_list' %></p>

<br>

<%= link_to 'Back', groups_path %>

<br>

<%= render 'admin_functions' %>

<br>

<%= render 'requests' %>  

<br>

<%= render 'chat' %>

<br>

<%= render 'schedule' %>
