<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Users:</strong>
  <% if @users != nil %>
    <% @users.each do |user| %>
      <br><%= user.user.username %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<br><br>


<% if GroupUser.where(group_id: @group.id, user_id: current_user.id, admin: true).exists? %>
  <% @users.each do |user| %>
    <% if user.user.id == current_user.id %>
      <% @requests.each do |request| %>
        <p> <%= request.sender.username %> "requests to join your party - " 
          <%= link_to 'Accept', group_invitations_path(user_id: request.sender.id, group_id: @group.id), method: 'patch' %> </p>
      <% end %>
    <% end %>
  <% end %>
<% end %>


<% if !GroupUser.where(group_id: @group.id, user_id: current_user.id).exists? && !Invitation.where(group_id: @group.id, sender_id: current_user.id).exists? %>
  <%= button_to "Request", group_invitations_path(@group) %> 
<% end %>

<% if GroupUser.where(group_id: @group.id, user_id: current_user.id, admin: true).exists? %>
  <%= form_with url: group_games_path(@group) do |f| %>
    <h3>Schedule a game</h3>
    <%= f.label :date%><br>
    <%= f.date_field :date%>
    <br>
    <%= f.label :time%><br>
    <%= f.time_field :time%><br>
    <%= f.submit "Schedule game" %>
  <% end %>
<% end %>

<% if GroupUser.where(group_id: @group.id, user_id: current_user.id).exists? %>
  <% @messages.each do |message| %>
    <br><strong><%= message.user.username %></strong>
    <br><%= message.content %>
  <% end %>


  <%= form_with url: group_message_path(@group), method: 'post' do |f| %> 
    <p>
      Add message: <br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "Send" %>
    </p>
  <% end %>

  <%= form_with url: group_message_path(@group), method: 'post' do |f| %> 
    <p>
      Add message: <br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "Send" %>
    </p>
  <% end %>
<% end %>

<% if GroupUser.where(group_id: @group.id, user_id: current_user.id, admin: true).exists? %>
  <%= form_with url: group_games_path(@group) do |f| %>
    <h3>Schedule a game</h3>
    <%= f.label :date%><br>
    <%= f.date_field :date%>
    <br>
    <%= f.label :time%><br>
    <%= f.time_field :time%><br>
    <%= f.submit "Schedule game" %>
  <% end %>
<% end %>

<% @games.each do |game| %>
  <br>
  <%= game.date %>
  <br>
  <%= game.time %>
<% end %>