<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<br>

<p><%= render 'user_list' %></p>

</p>

<br>

<%= link_to 'Back', groups_path %>

<br>

<%= render 'admin_functions' %>

<br>

<%= render 'requests' %>  

<br>

<%= render 'chat' %>

<br>

<%= render 'schedule' %>
