<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<br>
<p>

<% if GroupUser.where(group_id: @group.id, admin: true).exists? %>
  <strong>Admin:</strong>
<% end %>
<% @users.each do |user| %>
  <% if user.admin? %>
    <br> <%= user.user.username %> 
  <% end %>
<% end %>
<br>

<% if GroupUser.where(group_id: @group.id, admin: nil, dm: true).exists? %>
  <strong>DM:</strong>
<% end %>
<% @users.each do |user| %>
  <% if !user.admin? && user.dm? %>
    <br> <%= user.user.username %>
  <% end %>
<% end %>
<br>

<% if GroupUser.where(group_id: @group.id, admin: nil, dm: nil).exists? %>
  <strong>Players:</strong>
<% end %>
<% @users.each do |user| %>
  <% if !user.admin? && !user.dm? %>
    <br> <%= user.user.username %> - <%= link_to 'Assign DM', group_dm_path(group_id: @group, user_id: user.user.id), method: 'patch' %>
  <% end %>
<% end %>


</p>
<br>
<%= link_to 'Back', groups_path %>

<br><br>


<% if GroupUser.where(group_id: @group.id, user_id: current_user.id, admin: true).exists? %>
  <% @requests.each do |request| %>
    <p> <%= request.sender.username %> "requests to join your party - " 
      <%= link_to 'Accept', group_invitations_path(user_id: request.sender.id, group_id: @group.id), method: 'patch' %> </p>
  <% end %>

  <%= link_to 'Edit', edit_group_path(@group) %>

<% end %>


<% if !GroupUser.where(group_id: @group.id, user_id: current_user.id).exists? && !Invitation.where(group_id: @group.id, sender_id: current_user.id).exists? %>
  <%= button_to "Request", group_invitations_path(@group) %> 
<% end %>

<% if GroupUser.where(group_id: @group.id, user_id: current_user.id).exists? %>
  <% @messages.each do |message| %>
    <br><strong><%= message.user.username %></strong>
    <%= message.content %> <br>
  <% end %>


  <%= form_with url: group_message_path(@group), method: 'post' do |f| %> 
    <p>
      Add message: <br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit "Send" %>
    </p>
  <% end %>
<% end %>