<div class="user-land-page">
  <div class="page-banner">
    <h1 class="banner-heading">Tavern Keepers</h1>
  </div>
  <div class="user-page-content-container">
    <div class="user-left-content-container">
      <div class="avatar-username">
        <%= image_tag avatar_for(@user), class: "avatar" %>
        <% if @user.dm %>
        <div class="dm-badge">
          <p class="dm-badge-text">DM</p>
        </div>
        <% end %>
        <div class="user-details">
          <h1 class="username"><%= @user.username %></h1>
          <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
          <p>Rating: <%= @user.rating %></p>
          <p><i class="fas fa-level-up-alt"></i> <%= @user.alignment %></p>
          <p class="user-bio"><i class="fas fa-book-open"></i> <%= @user.bio %></p>
        </div>
        <div class="user-profile-buttons">
          <a href="/users/edit">Edit</a>
        </div>
      </div>
      <div class="users-nearby">
        <h1>Allies Within 10 Miles</h1>
        <% if @user.nearbys(10) %>
          <% for user in @user.nearbys(20) %>
          <div class="nearby-user">
            <div class="avatar-dm">
              <a href="/users/<%= user.id %>"><%= image_tag avatar_for(user), class: "nearby-avatar" %></a>
              <% if user.dm %>
              <div class="nearby-dm-badge">
                <p class="nearby-dm-badge-text">DM</p>
              </div>
              <% end %>
            </div>
            <div class="nearby-user-details">
              <h2><a href="/users/<%= user.id %>"><%= user.username %></a></h2>
              <p><%= user.distance.round(1) %> Miles, Rating: <%= user.rating %>, Alignment: <%= user.alignment %></p>
            </div>
          </div>
          <% end %>
        <% else %>
          <h2>No Allies Nearby</h2>
        <% end %>

      </div>
    </div>

    <div class="user-right-content-container">

      <div class="top-right">
  
        <div class="not-users-groups">
          <div class="group-heading">
            <h1>All Taverns</h1>
          </div>
          
          
          <div class="user-group">
            <% array = [] %>
            <% @group_users.each do |group_user| %>
              <% if !array.include?(group_user.group_id) && (group_user.user_id != current_user.id) %>
                  <% array << group_user.group_id %>

                  <div class="not-user-group-details">
                    <h2 class="group-name"><a href="/groups/<%= group_user.group_id %>"><%= group_user.group.name %></a></h2>
                    <p>Allys <%= group_user.group.users.length %></p>
                  </div>

              <% end %>
            <% end %>
          </div>
        </div>

        <div class="all-users">
          <h1>List of all Users</h1>
          <% @users.each do |user| %>
          <div class="all-user">
            <div class="all-avatar-dm">
              <a href="/users/<%= user.id %>"><%= image_tag avatar_for(user), class: "nearby-avatar" %></a>
              <% if user.dm %>
              <div class="nearby-dm-badge">
                <p class="nearby-dm-badge-text">DM</p>
              </div>
              <% end %>
            </div>
            <div class="nearby-user-details">
              <h2><a href="/users/<%= user.id %>"><%= user.username %></a></h2>
              <p>Rating: <%= user.rating %>, Alignment: <%= user.alignment %></p>
            </div>
          </div>
          <% end %>
        </div>
      </div>

      <div class="users-groups">
        <div class="group-heading">
          <h1><%= @user.username %>'s' Taverns</h1>
        </div>
        <div class="user-group">
          <% @groups.each do |group| %>
          <% group.group_users.each do |group_user| %>
          <% if current_user.id == group_user.user_id %>
            <div class="group-details">
              <h2 class="group-name"><a href="/groups/<%= group.id %>"><%= group.name %></a></h2>
              <p>
                Allys <%= group.group_users.length %>
                <% group.invitations.each do |invitation| %>
                <% if invitation.confirmed == false %>
                  <div class="invite"></div>
                <% end %>
              <% end %>
              </p>
          </div>
          
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
      
    </div>

  </div>
</div>