<p><%= link_to 'Taverns', groups_path%></p>

<h1>Home Page</h1>
<p>This will be the current User's profile</p>

<h1>Avatar</h1>
<%= image_tag avatar_for(@user) %>
<h1>User Id</h1>
<%= @user.id %> <br>
<h1>User Email</h1>
<%= @user.email %> <br>
<h1>User Username</h1>
<%= @user.username %> <br>
<h1>User Location</h1>
<%= @user.location %> <br>
<h1>User Rating</h1>
<%= @user.rating %> <br>
<h1>User Alignment</h1>
<%= @user.alignment %> <br>
<h1>User Dungeon Master</h1>
<%= @user.dm %> <br><br> 
<h1>User Bio</h1>
<%= @user.bio %> <br>
<h1>User Terms</h1>
<%= @user.terms %> <br>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>