<div class="user-land-page">
  <div class="page-banner">
    <h1 class="banner-heading">Tavern Keepers</h1>
  </div>
  <div class="user-page-content-container">
    <div class="user-left-content-container">
      <div class="avatar-username">
        <%= image_tag avatar_for(@user), class: "avatar" %>
        <% if @user.dm %>
        <div class="dm-badge">
          <p class="dm-badge-text">DM</p>
        </div>
        <% end %>
        <div class="user-details">
          <h1 class="username"><%= @user.username %></h1>
          <p><i class="fas fa-at"></i> <%= @user.email %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= @user.address %></p>
          <p>Rating: <%= @user.rating %></p>
          <p><i class="fas fa-level-up-alt"></i> <%= @user.alignment %></p>
          <p class="user-bio"><i class="fas fa-book-open"></i> <%= @user.bio %></p>
        </div>
      </div>
      <div class="users-nearby">
        <h1>Allies Within 10 Miles Away</h1>
        <% for user in @user.nearbys(10) %>
        <div class="nearby-user">
          <div class="avatar-dm">
            <%= image_tag avatar_for(user), class: "nearby-avatar" %>
            <% if user.dm %>
            <div class="nearby-dm-badge">
              <p class="nearby-dm-badge-text">DM</p>
            </div>
            <% end %>
          </div>
          <div class="nearby-user-details">
            <h2><%= user.username %></h2>
            <p><%= user.distance.round(1) %> Miles,&emsp; Rating: <%= user.rating %>,&emsp; Alignment: <%= user.alignment %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="user-right-content-container">
      <h1>List of users and distance</h1>
      <ul>

      </ul>

      <h1>List of all Users</h1>

      <ul>
        <% @users.each do |user| %>
        <li><%= user.username %></li>
        <% end %>
      </ul>

      <h1>List of your groups</h1>

      <ul>
        <% @groups.each do |group| %>
        <% group.group_users.each do |group_user| %>
        <% if current_user.id === group_user.user_id %>
        <li><%= group.name %></li>
        <% end %>
        <% end %>
        <% end %>
      </ul>

      <h1>List of groups you are not a part of</h1>

      <ul>
        <% @groups.each do |group| %>
        <% group.group_users.each do |group_user| %>
        <% if current_user.id != group_user.user_id %>
        <li><%= group.name %></li>
        <% end %>
        <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>