<!DOCTYPE html>
<html>
  <head>
    <title>DndFinder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/15ed7b8e2c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav-circle-container">
        <div class="nav-circle">
          <button id="close">
            <i class="fas fa-times"></i>
          </button>
          <button id="open">
            <i class="fas fa-bars"></i>
          </button>
          
        </div>
      </div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
    </div>

    <nav>
      <ul>
        <li><a href="/"><i class="far fa-id-card"></i> Profile</li></a>
        <li><a href="/groups"><i class="fas fa-home"></i> Taverns</li></a>
        <!-- <li><i class="fas fa-book-open"></i> About</li> -->
        <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
          <!-- <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %> -->
      </ul>
    </nav>

  </body>
</html>
